<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <ul th:fragment="avance" class="wizard-steps" style="width: 100%">
            <li ng-class="{'completed': avanceFormulario.datosPersonales}">
                <h5>1</h5>
                <span>Datos personales</span>
            </li>
            <li ng-class="{'completed': avanceFormulario.participacion}">
                <h5>2</h5>
                <span>Participación</span>
            </li>
            <li ng-class="{'completed': avanceFormulario.resumen}">
                <h5>3</h5>
                <span>Resumen</span>
            </li>
            <li ng-class="{'success': avanceFormulario.registrado}">
                <i class="glyphicon glyphicon-ok-circle"></i>
            </li>
        </ul>
    </body>
</html>