<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="datos" class="col-md-12 contenedor_formulario">
            <div class="text-justify">
                <p>Toda vez que la persona participante cumplió con la totalidad de los requisitos de 
                    participación para el inicio del proceso y, se registraron satisfactoriamente los 
                    elementos multifactoriales presentados, se da por concluido el registro 
                    correspondiente.</p>
            </div>
            
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>
            
            <form name="registroForm" role="form" novalidate autocomplete="off">
                <div class="form-group span-3-column">
                    <div class="text-center">
                        <input type="button" value="Finalizar"
                                class="btn btn-primary" ng-click="finalizar()" />
                    </div>
                </div>
            </form>

            <div class="row">
                <table border="0" width="100%">
                    <tr>
                        <td width="50%">
                            <div th:replace="fragments/botonRegresar :: boton_regresar"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>



