<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="formulario" class="col-md-12 contenedor_formulario">
            <div class="text-justify">
                <p>En este espacio se puede realizar el registro de algún(a) maestra/maestro, en el 
                    proceso de Reconocimiento de la asesoría, apoyo y acompañamiento de las maestras 
                    y los maestros en educación básica, ciclo escolar 2022-2023</p>
                <p>Por favor proporcione los siguientes datos</p>
            </div>
            
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>
            
            <br />
            <form name="docenteForm" role="form" novalidate autocomplete="off">
                <div class="form-group span-3-column" ng-if="pendientes.length>0">
                    <a ng-click="muestraPendientes()" href="#">
                        <strong style="color: orange">Actualmente tiene {{pendientes.length}} registros que ha capturado y que estan pendiente de cierre</strong>
                    </a>
                </div>

                <div class="form-group span-3-column">
                    <label class="control-label" for="curp">
                        CURP
                    </label>
                    <br />
                    <input class="form-control" type="text" name="curp" id="curp"
                        ng-style="{'border':(docenteForm.curp.$touched && docenteForm.curp.$invalid? '2px solid red': '1px solid silver')}" 
                        ng-blur="buscaDocente()" ng-keypress="tecleaRFC($event)" ng-model="data.curp"> 
                </div>
                <div class="form-group span-3-column">
                    <label class="control-label" for="nombre">
                        Nombre
                    </label>
                    <br />
                    <input class="form-control" type="text" name="nombre"
                        ng-style="{'border':(docenteForm.nombre.$invalid? '2px solid red': '1px solid silver')}" 
                        readonly ng-model="data.datosDocente.nombre" /> 
                </div>
                <div class="form-group span-3-column">
                    <label class="control-label" for="primerApellido">
                        Primer apellido
                    </label>
                    <br />
                    <input class="form-control" type="text" name="primerApellido"
                        ng-style="{'border':(docenteForm.primerApellido.$invalid? '2px solid red': '1px solid silver')}" 
                        readonly ng-model="data.datosDocente.primerApellido" /> 
                </div>
                <div class="form-group span-3-column">
                    <label class="control-label" for="segundoApellido">
                        Segundo apellido
                    </label>
                    <br />
                    <input class="form-control" type="text" name="segundoApellido"
                        ng-style="{'border':(docenteForm.segundoApellido.$invalid? '2px solid red': '1px solid silver')}" 
                        readonly ng-model="data.datosDocente.segundoApellido" /> 
                </div>
                <div class="form-group span-3-column">
                    <label class="control-label" for="telefono1">
                        Número telefónico 1
                    </label>
                    <br />
                    <input class="form-control" name="telefono1"
                        ng-style="{'border':(docenteForm.telefono1.$invalid? '2px solid red': '1px solid silver')}" 
                        readonly ng-model="data.datosDocente.telefono1" /> 
                </div>
                <div class="form-group span-3-column">
                    <label class="control-label" for="telefono2">
                        Número telefónico 2
                    </label>
                    <br />
                    <input class="form-control" name="telefono2"
                        ng-style="{'border':(docenteForm.telefono2.$invalid? '2px solid red': '1px solid silver')}" 
                        readonly ng-model="data.datosDocente.telefono2" /> 
                </div>
                <div class="form-group span-3-column">
                    <label class="control-label" for="correo1">
                        Correo electrónico 1
                    </label>
                    <br />
                    <input class="form-control" name="correo1"
                        ng-style="{'border':(docenteForm.correo1.$invalid? '2px solid red': '1px solid silver')}" 
                        readonly ng-model="data.datosDocente.correo1" /> 
                </div>
                <div class="form-group span-3-column">
                    <label class="control-label" for="correo2">
                        Correo electrónico 2
                    </label>
                    <br />
                    <input class="form-control" name="correo2"
                        ng-style="{'border':(docenteForm.correo2.$invalid? '2px solid red': '1px solid silver')}" 
                        readonly ng-model="data.datosDocente.correo2" /> 
                </div>
                
                <div class="form-group span-3-column">
                    <div class="text-center">
                        <input type="button" ng-disabled="docenteForm.$pristine || docenteForm.$invalid || !container.showContinuar" value="Continuar"
                                class="btn btn-primary" ng-click="validaDatos()" />
                        &nbsp;&nbsp;
                        <a href="#" onclick="quitTab('quit')" type="button" class="btn btn-danger">Cerrar</a>
                    </div>
                </div>
            </form>
            
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="alert alert-danger"  ng-show="data.errores.length>0">
                    <strong>¡Se presentaron problemas con los datos!: </strong>
                    <br />
                    <ul class="text-left">
                        <li ng-repeat="error in data.errores"><span  ng-bind-html="error"></span></li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-if="docenteForm.correo1.$invalid || docenteForm.correo2.$invalid">
                <div class="alert alert-danger">
                    <strong>¡Existen errores en los datos, favor de revisalos!</strong>
                </div>
            </div>
        </div>
    </body>
</html>



