<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="datos" class="col-md-12">
            <div class="text-justify">
                <p>Por favor revise los datos y de clic en Finalizar.</p>
            </div>
            
            <div class="col-md-8 col-md-offset-2">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>
            
            <div class="row col-md-12">
                <h3 class="red salto" th:text="${@environment.getProperty('app.menu.title.datospersonales')}"></h3>
                <div>
                    <strong>CURP: </strong>
                    <span ng-bind-html="data.datosDocente.curp"></span>
                </div>
                <div>
                    <strong>Nombre: </strong>
                    <span ng-bind-html="data.datosDocente.nombre"></span>
                </div>
                <div>
                    <strong>Primer apellido: </strong>
                    <span ng-bind-html="data.datosDocente.primerApellido"></span>
                </div>
                <div>
                    <strong>Segundo apellido: </strong>
                    <span ng-bind-html="data.datosDocente.segundoApellido"></span>
                </div>
                <div>
                    <strong>Teléfono 1: </strong>
                    <span ng-bind-html="data.datosDocente.telefono1"></span>
                </div>
                <div>
                    <strong>Teléfono 2: </strong>
                    <span ng-bind-html="formateaValor(data.datosDocente.telefono2)"></span>
                </div>
                <div>
                    <strong>Correo electrónico 1: </strong>
                    <span ng-bind-html="data.datosDocente.correo1"></span>
                </div>
                <div>
                    <strong>Correo electrónico 2: </strong>
                    <span ng-bind-html="formateaValor(data.datosDocente.correo2)"></span>
                </div>
            </div>
            <hr class="row col-md-12" style="height: 5px; background-color: darkred;"/>
            
            <div class="row col-md-12">
                <h3 class="red salto" th:text="${@environment.getProperty('app.menu.title.participacion')}"></h3>
                <div>
                    <strong>Entidad federativa donde labora: </strong>
                    <span ng-bind-html="data.datosParticipacion.entidad"></span>
                </div>
                <div>
                    <strong>Año de aplicación: </strong>
                    <span ng-bind-html="data.datosParticipacion.anioAplicacion"></span>
                </div>
                <div>
                    <strong>Nombre del trabajo a presentar: </strong>
                    <span ng-bind-html="data.datosParticipacion.nombreTrabajo"></span>
                </div>
                <div>
                    <strong>Archivo de resumen de la práctica educativa: </strong>
                    <span ng-bind-html="data.documentos.nombreOriginal"></span> &nbsp;&nbsp;
                    <a href="#" ng-click="muestraArchivo()" ng-if="data.documentos!==null">
                        <span class="glyphicon glyphicon-eye-open"> </span> Ver archivo
                    </a>
                </div>
                <div>
                    <strong>Tipo de sostenimiento: </strong>
                    <span ng-bind-html="data.datosParticipacion.sostenimiento"></span>
                </div>
                <div>
                    <strong>Modalidad o servicio: </strong>
                    <span ng-bind-html="data.datosParticipacion.servicioEducativo"></span>
                </div>
                <div>
                    <strong>Centro de trabajo: </strong>
                    <span ng-bind-html="(data.datosParticipacion.cveCct+' - '+data.datosParticipacion.cct)"></span>
                </div>
            </div>
            <hr class="row col-md-12" style="height: 5px; background-color: darkred;"/>

            <div class="row col-md-12">
                <div class="text-center">
                    <input type="button" ng-disabled="!container.showContinuar" value="Finalizar"
                            class="btn btn-primary" ng-click="validaDatos()" />
                </div>
            </div>
            
            <div class="row col-md-8 col-md-offset-2">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger"  ng-show="data.errores.length>0">
                    <strong>¡Se presentaron problemas con los datos!: </strong>
                    <br />
                    <ul class="text-left">
                        <li ng-repeat="error in data.errores"><span  ng-bind-html="error"></span></li>
                    </ul>
                </div>
            </div>

            <!--div class="row col-md-12">
                <table border="0" width="100%">
                    <tr>
                        <td width="50%">
                            <span th:replace="fragments/botonRegresar :: boton_regresar" />
                        </td>
                    </tr>
                </table>
            </div-->
        </div>
    </body>
</html>



