<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="datos" class="col-md-12 contenedor_formulario">   
            <div class="row col-md-12">
                <p class="text-justify">
                    Ha finalizado el registro para el proceso de reconocimiento de proactividad educativa, ciclo escolar 2022-2023. 
                </p>.
                <p class="text-justify">
                    No olvide imprimir su acuse. 
                </p>.
            </div>
            
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>
            
            <div class="row col-md-12">
                <h3 class="red salto" th:text="${@environment.getProperty('app.menu.title.datospersonales')}"></h3>
                <div>
                    <strong>CURP: </strong>
                    <span ng-bind-html="data.datosDocente.curp"></span>
                </div>
                <div>
                    <strong>Nombre: </strong>
                    <span ng-bind-html="data.datosDocente.nombre"></span>
                </div>
                <div>
                    <strong>Primer apellido: </strong>
                    <span ng-bind-html="data.datosDocente.primerApellido"></span>
                </div>
                <div>
                    <strong>Segundo apellido: </strong>
                    <span ng-bind-html="data.datosDocente.segundoApellido"></span>
                </div>
                <div>
                    <strong>Estatus: </strong>
                    <span ng-bind="(data.datosParticipacion!==null? 'Participación registrada': 'Sin participación')"></span>
                </div>
            </div>
            
            <div class="row col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" ng-click="imprimirRegistro()" ng-disabled="data.datosParticipacion===null">
                        <i class="glyphicon glyphicon-file"></i> Ficha de Registro
                    </button>
                </div>
            </div>
            
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



