<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="formulario" class="col-md-12 contenedor_formulario">
            <style>
                .ui-select-match-text{
                    font-size: 9px;
                }
            </style>
            <div class="text-justify">
                <p>Proporcione por favor los datos que a continuación se le solicitan.</p>
            </div>
            
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>
            
            <form name="participacionForm" role="form" novalidate autocomplete="off">
                <div class="form-group span2-column">
                    <span class="inicio_boton_cerrar_texto" style="font-weight:bold; color:red;">* Campo requerido</span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="entidad">
                        <span class="inicio_boton_cerrar_texto" style="font-weight:bold; color:red;">*</span> Entidad federativa donde labora
                    </label>
                    <select class="form-control" id="cveEntidad" name="cveEntidad" required ng-model="data.cveEntidad"
                            ng-change="cambiaEntidad()"
                            ng-style="{'border':(participacionForm.cveEntidad.$touched && participacionForm.cveEntidad.$invalid? '2px solid red': '1px solid silver')}" >
                        <option value="">- Seleccione una opción -</option>
                        <option ng-value="item.cve" ng-repeat="item in entidades" ng-bind="item.descripcion"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cveAnioAplicacion">
                        <span class="inicio_boton_cerrar_texto" style="font-weight:bold; color:red;">*</span> Año de aplicación
                    </label>
                    <select class="form-control" id="cveAnioAplicacion" name="cveAnioAplicacion" required ng-model="data.cveAnioAplicacion"
                            ng-style="{'border':(participacionForm.cveAnioAplicacion.$touched && participacionForm.cveAnioAplicacion.$invalid? '2px solid red': '1px solid silver')}" >
                        <option value="">- Seleccione una opción -</option>
                        <option ng-value="item.cve" ng-repeat="item in anios" ng-bind="item.descripcion"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="nombreTrabajo">
                        <span class="inicio_boton_cerrar_texto" style="font-weight:bold; color:red;">*</span> Nombre del trabajo a presentar
                    </label>
                    <textarea class="form-control" id="nombreTrabajo" name="nombreTrabajo" required ng-model="data.nombreTrabajo"
                            ng-style="{'border':(participacionForm.nombreTrabajo.$touched && participacionForm.nombreTrabajo.$invalid? '2px solid red': '1px solid silver')}" 
                            rows="6" maxlength="500" placeholder="Máximo 500 carácteres"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cveSostenimiento">
                        <span class="inicio_boton_cerrar_texto" style="font-weight:bold; color:red;">*</span> Tipo de sostenimiento
                    </label>
                    <select class="form-control" id="cveSostenimiento" name="cveSostenimiento" required ng-model="data.cveSostenimiento"
                            ng-style="{'border':(participacionForm.cveSostenimiento.$touched && participacionForm.cveSostenimiento.$invalid? '2px solid red': '1px solid silver')}" >
                        <option value="">- Seleccione una opción -</option>
                        <option ng-value="item.cve" ng-repeat="item in sostenimientos" ng-bind="item.descripcion"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cveServicio">
                        <span class="inicio_boton_cerrar_texto" style="font-weight:bold; color:red;">*</span> Modalidad o servicio
                    </label>
                    <select class="form-control" id="cveServicio" name="cveServicio" required ng-model="data.cveServicio"
                            ng-style="{'border':(participacionForm.cveServicio.$touched && participacionForm.cveServicio.$invalid? '2px solid red': '1px solid silver')}" >
                        <option value="">- Seleccione una opción -</option>
                        <option ng-value="item.cve" ng-repeat="item in servicios" ng-bind="item.descripcion"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cveCct">
                        <span class="inicio_boton_cerrar_texto" style="font-weight:bold; color:red;">*</span> Clave del centro de trabajo
                    </label>
                    <input class="form-control" id="cveCct" name="cveCct" required ng-model="data.cveCct"
                           ng-blur="cambiaCct()"
                            ng-style="{'border':(participacionForm.cveCct.$touched && participacionForm.cveCct.$invalid? '2px solid red': '1px solid silver')}" 
                            />
                </div>
                <div class="form-group">
                    <label class="control-label" for="nombreCct">
                        Nombre del CCT
                    </label>
                    <br />
                    <input class="form-control" id="nombreCct" name="nombreCct" ng-model="data.cct.nombre" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="direccionCct">
                        Dirección del CCT
                    </label>
                    <br />
                    <input class="form-control" id="direccionCct" name="direccionCct" ng-model="data.cct.direccion" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="municipioCct">
                        Municipio del CCT
                    </label>
                    <br />
                    <input class="form-control" id="municipioCct" name="municipioCct" ng-model="data.cct.municipio" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="localidadCct">
                        Localidad del CCT
                    </label>
                    <br />
                    <input class="form-control" id="localidadCct" name="localidadCct" ng-model="data.cct.localidad" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="numeroExteriorCct">
                        Número exterior del CCT
                    </label>
                    <br />
                    <input class="form-control" id="numeroExteriorCct" name="numeroExteriorCct" ng-model="data.cct.numeroExterior" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="telefonoCct">
                        Teléfono del CCT
                    </label>
                    <br />
                    <input class="form-control" id="telefonoCct" name="telefonoCct" ng-model="data.cct.telefono" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="tipoEducativoCct">
                        Tipo educativo del CCT
                    </label>
                    <br />
                    <input class="form-control" id="tipoEducativoCct" name="tipoEducativoCct" ng-model="data.cct.tipo" readonly />
                </div>

                <div class="form-group span-3-column">
                    <div class="text-center">
                        <input type="button" ng-disabled="participacionForm.$invalid || !container.showContinuar" value="Continuar"
                                class="btn btn-primary" ng-click="validaDatos()" />
                    </div>
                </div>
            </form>
            
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div ng-show="messageAPI.show">
                    <div ng-class="{'alert alert-success': messageAPI.isSuccess, 'alert alert-danger': messageAPI.isError}">
                        <strong>¡Información!: </strong>
                        <div ng-bind-html="messageAPI.msg"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="alert alert-danger"  ng-show="data.errores.length>0">
                    <strong>¡Se presentaron problemas con los datos!: </strong>
                    <br />
                    <ul class="text-left">
                        <li ng-repeat="error in data.errores"><span  ng-bind-html="error"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>



